 *{
     margin: 0;
     padding: 0;
     list-style: none;
 }
 h1 {
     display: inline;
}
.body-index{
  background-color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
 
  }
div{
padding-right: 4%;
}
main{
color: black;
}
nav{
    display: flex;
    justify-content: space-around;
    color: black;
    display: inline;
}
nav ul{
  display: flex;
  justify-content: center;
  color: black;
}

nav ul li a{
    text-decoration: none;
    padding: 15px;
    font-size: 30px;

}
nav ul li a:hover{
  color: yellow;
}
footer{
    font-family: 'Times New Roman', Times, serif;
    margin: 4%;
    padding: 0%;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
}

table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 9px solid #AAAAAA;
    padding: 6px 9px;
  }
  table.blueTable tbody td {
    font-size: 20px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: left;
  } 
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  .h1-horarios{
      text-align: center;
      }
  .body-imagenes{
    background-color: crimson;
  }
  .body-staff{
    background-color: black  ;
    margin: 4%;
    padding: 2%;
  }
.h1-staff{
  color: red;
  text-align: center;
  padding: 5%;
  font-size: 50px;
}
  .table-staff {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    height: 200px;
    text-align: left;
    border-collapse: collapse;
  }
  .table-staff td, table.blueTable th {
    border: 9px solid #AAAAAA;
    padding: 3px 3px;
  }
  .table-staff tbody td {
    font-size: 20px;
  }
  .table-staff tr:nth-child(even) {
    background: #D0E4F5;
  }
.h1-imagenes{
    text-align: center;
    color: red;
}
#footer-contactos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
border: 5px solid yellow;
   }
  @media (max-width: 390) {
    
  
  }

  

 
  #footer-contactos{
    display: flexbox;
text-align: center;
font-size: 20px;
  }
 .parrafo-body{
  margin: 4%;
  padding: 2%;
  font-size: 20px;
color: white;
 }
.body-entrenamientos{
 background-color: black;
   
}
.h1-imagenes{
  color: black;
}
.body-horarios{
  background-color: black;
  margin: 4%;
  padding: 2%;
}
.h1-horarios{
  color: yellow;
  padding: 5%;
}
.h1-entrenamientos{
  color: chocolate;
  text-align: center;
  padding: 5%;
}
.div-entrenamientos1{
font-size: 20px;
padding: 5%;
color: white;
}
.div-entrenamientos2{
  font-size: 20px;
  padding: 5%;
  color: white;
}
.div-entrenamientos3{
  font-size: 20px;
  padding: 5%;
  color: white;
}
footer img{
padding: 10px;
display: flex;
justify-content: space-around;
}
footer div{
  margin-top: 10px;
  padding: 10px;
  font-size: 25px;
}
.div-fotos{
  object-fit: fill;
}
header img{
  margin: 10px;
}
form{
margin: 50px;

}


